// PRIMARY COLORS
$color-soft-blue: hsl(215, 51%, 70%);
$color-cyan: hsl(178, 100%, 50%);

// NEUTRAL COLORS
$color-dark-blue-main: hsl(217, 54%, 11%); //main-BG
$color-dark-blue-card: hsl(216, 50%, 16%); //card-BG
$color-dark-blue-line: hsl(215, 32%, 27%); // line
$color-white: hsl(0, 0%, 100%);

// FONT VARIABLES
$font-primary: 'Outfit', sans-serif;


//Padding


//Margin


// GENERAL
@mixin transition-basic {
    transition: all 0.3s;

}

// - Mobile: 375px
// - Desktop: 1440px


// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-largest) {
        // font-size: 50%;
    }

    @media only screen and (max-width: $bp-large) {
        // font-size: 50%;
    }

    @media only screen and (max-width: $bp-medium) {
        // font-size: 40%;
    }

    @media only screen and (max-width: $bp-small) {
        // font-size: 35%;
    }

}

body {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.6;
    overflow-x: hidden;





}
